/* ----- General ----- */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: HelveticaNeue-Thin, sans-serif;
}


/* ----- Navigator ----- */

#navigator {
	height: 90%;
	background-color: #eee;
	overflow-y: scroll;
}

#navigator > .nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigator > .nav-list > li {
	box-sizing: border-box;
	padding: 1% 2%;
}


/* ----- Now Playing ----- */

#now-playing {
	height: 10%;
	background-color: #aaa;
}
